/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

/* Header style */
header {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
	height: 20%;
}

h1 {
	font-size: 3em;
	font-weight: bold;
	text-align: center;
	padding: 10px 0;
	height: fit-content;
	max-width: 400px;
}

.buttonAddEvent {
	font-size: 1em;
	width: 200px;
	padding: 5px 0;
	margin: 10px 0;
	border-radius: 5px;
	background-color: rgb(221, 221, 217);
	border: 1px solid black;
	height: 25%;
}

/* Calendar rules */
.calendar {
    width: 90%;
    position: relative;
    margin: 0 auto;
    border-radius: 10px;
}
.calendar--info{
    display: flex;
    margin: 0 1.5em;
    padding: 1.5em 0;
    text-transform: uppercase;
}

.calendar--prev, .calendar--next {
    cursor: pointer;
}

.calendar--prev {
    margin-right: auto;
}

.calendar--next {
    margin-left: auto;
}

.calendar--month {
    padding: 0 .4em;
}

.calendar--all {
    border-radius: 8px;
    padding: 8px 0;
}

.calendar--all{
    background: linear-gradient(70deg, rgb(253, 211, 211), red);
}

.days-list {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-size: .6em;
    max-width: 100%;
    text-align: center;
}
.day {
    background: transparent;
    color: rgb(65, 65, 65);
}

.calendar--dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

/* Media Query rules */

@media screen and (min-width: 700px) {
	header {
		flex-direction: row;
		padding: 0 20px;
	}
	.buttonAddEvent {
		height: 30%;
    }
}
