/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

/* Header style */
.header-section {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
	height: 20%;
}

h1 {
	font-size: 3em;
	font-weight: bold;
	text-align: center;
	padding: 10px 0;
	height: fit-content;
	max-width: 400px;
}

.buttonAddEvent {
	font-size: 1em;
	width: 200px;
	padding: 5px 0;
	margin: 10px 0;
	border-radius: 5px;
	background-color: rgb(221, 221, 217);
	border: 1px solid black;
	height: 25%;
}

/* Calendar rules */
.calendar {
    width: 90%;
    position: relative;
    margin: 0 auto;
    border-radius: 10px;
}
.calendar--info{
    display: flex;
    margin: 0 1.5em;
    padding: 1.5em 0;
    text-transform: uppercase;
}

.calendar--prev, .calendar--next {
    cursor: pointer;
}

.calendar--prev {
    margin-right: auto;
}

.calendar--next {
    margin-left: auto;
}

.calendar--month {
    padding: 0 .4em;
}

.calendar--days {
	text-align: center;
	width: 100%;
	height: 40px;
	border: 1px solid #c0c0c0;
	padding: 5px;
	color: #acacac;
	font-size: .6em;
}

.week--days {
	background: linear-gradient(70deg, rgb(253, 211, 211), red);
	margin-bottom: 5px;
}

.days-list {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-size: .6em;
    max-width: 100%;
    text-align: center;
}
.day {
    background: transparent;
	color: rgb(65, 65, 65);
	border: 1px solid black;
	padding: 8px 0;
}

.calendar--dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

/* Modal add event style */
.modal--section {
	background-color: rgba(184, 184, 184, 0.7);
	width: 100%;
	position: fixed;
	z-index: 1000;
	height: 100%;
	top: 0;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.add--event {
	background-color:white;
	width: fit-content;
	padding-bottom: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: transform 1s;
	transform: translateY(0%);
}

.closed--modal {
	width: 100%;
	text-align: right;
	margin: 5px 15px 0 0;
	cursor: pointer;
}

.title--new--event {
	font-weight: bold;
	font-size: 1.5em;
	margin: 0 auto;
}

.form--add--event {
	display: flex;
	flex-direction: column;
	padding: 15px 10px;
}

.label--modal {
	padding: 10px 0;
	margin-right: 10px;
}

.fieldset--modal {
	padding-top: 10px;
}

.fieldset--hidden {
	display: none;
}

.input--modal {
	border-radius: 5px;
}

.description {
	height: 70px;
}

.initial--date, .end--date {
	width: 100%;
	margin-top: 10px;
	background-color: rgb(243, 243, 243);
}

.time-remind-me, .even--type {
	padding: 2px 5px;
	background-color: rgb(243, 243, 243);
}

.button--modal {
	text-align: center;
}

.cancel--button--modal, .create--button--modal {
	font-size: 1em;
	border-radius: 10px;
	border: none;
	padding: 5px 20px;
	margin: 5px;
	box-shadow: 5px 5px rgb(153, 152, 152);
}


/* Footer style */
.footer {
	font-size: 0.7em;
	text-align: center;
	background-color: #eeeeee;
	padding: 20px 0;
	margin-top: 20px;
	width: 100%;
    height: 5%;
    position: relative;
    bottom: 0;
    left: 0;
}


/* Media Query rules */

@media screen and (min-width: 700px) {
	.header-section {
		flex-direction: row;
		padding: 0 20px;
	}
	.buttonAddEvent {
		height: 30%;
	}
	.calendar--days{
		height: 90px;
	}
}

@media screen and (min-width: 1200px) {
	.calendar--days{
		height: 120px;
	}
	.calendar {
		width: 1086px;
	}
	.header-section {
		width: 1200px;
		margin: 0 auto;
	}
}
